<!--
By default link inactive,  show_link = False.
Add show_link = True in your include to activate.
-->

<ul>
    <li>
      Автор: {{post.author.get_full_name}}
      <a href={% url 'posts:profile' username=post.author%}>все посты пользователя</a>
    </li>
    <li>Дата публикации: {{post.pub_date|date:'d E Y'}}</li>
</ul>
<p>{{post.text|linebreaks|truncatewords:90}}</p>
<a href={% url 'posts:post_detail' post_id=post.pk %}>подробная информация</a><br>
{% if show_group_link %}
  {% if post.group %}
    все записи группы: 
    <a href={% url 'posts:group_list' post.group.slug %}>
      {{post.group.title}}
    </a>
  {% endif %}
{% endif %}
{% if not forloop.last %}<hr>{% endif %}
