{% load static %}
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: lightskyblue">
  <div class="container">
    <a class=static href={% url 'posts:index' %}>
      <img 
        src={% static 'img/logo.png' %} 
        width="30" 
        height="30" 
        class="d-inline-block align-top" 
        alt="logo"
        >
      <span style="color:red">Ya</span>tube</a>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="nav  nav-pills ">
        <li class="nav-item">              
          <a class="nav-link" href={% url 'about:author' %}>
            Об авторе
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href={% url 'about:tech' %}>
            Технологии
          </a>
        </li>
              <!-- пункты меню видны только авторизованному пользователю -->
              {% if user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link" href={% url 'posts:post_create' %}>
                    {% comment %} <a class="nav-link" href={% url 'posts:post_create' %}> {% endcomment %}
                    Новая запись
                  </a>
                </li>
                <li class="nav-item"> 
                  <a class="nav-link link-light " href={% url 'users:password_change' %}>
                    Изменить пароль
                  </a>
                </li>
                <li class="nav-item"> 
                  <a class="nav-link link-light" href={% url 'users:logout' %}>Выйти</a>
                </li>
                <li>
                  Пользователь: {{ user.get_username }}
                <li>
              <!-- конец пункты меню видны только авторизованному пользователю -->
              <!-- пункты меню видны только неавторизованному пользователю -->
              {% else %}
                <li class="nav-item"> 
                  <a class="nav-link link-light" href={% url 'users:login' %}>
                    Войти
                  </a>
                </li>
                <li class="nav-item"> 
                  <a class="nav-link link-light " href={% url 'users:signup' %}>Регистрация</a>
                </li>
              {% endif %}
              <!-- конец пункты меню видны только неавторизованному пользователю -->        
            </ul> 
          </div>     
        
  </div>
</nav>
