{% extends "base.html" %}
{% block title %}{{post.text|truncatechars:9}}{% endblock title %}
{% block content %}
  <div class="container py-5">
    <div class="row">
      <aside class="col-12 col-md-3">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            Дата публикации: {{posts.pub_date|date:'d E Y'}}
          </li> 
          <li class="list-group-item">
            {% if posts.group %}
              Группа: {{group.title}}
              <a href={% url 'posts:group_list' posts.group.slug %}>
                все записи группы
              </a>
            {% endif %}

          </li>            
          <li class="list-group-item">
            Автор: {{posts.author.get_full_name}} {{posts.author}}
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Всего постов автора:  <span >{{posts_count}}</span>
          </li>
          <li class="list-group-item">
            <a href={% url 'posts:profile' posts.author  %}>
              все посты пользователя
            </a>
          </li>
        </ul>
      </aside>
      <article class="col-12 col-md-9">
        {{posts.text}}
        <!-- эта кнопка видна только автору -->
				{% if user.is_authenticated %}
					<a class="btn btn-primary" href={% url 'posts:post_edit' posts.pk %}>
						редактировать запись
					</a>    
				{% endif %}            
      </article>
    </div>     
  </div>           
{% endblock content %}
