{% extends 'base.html' %}
{% block title %}
  {{ user.get_full_name }} профайл пользователя
{% endblock title %}
{% block content %}
    <div class='container py-5'>
    <h1>Все посты пользователя {{ user.get_full_name }} </h1>
    <h3>Всего постов: {{posts_count}} </h3>
    {% for post in page_obj %}
      <article>
        {% include 'includes/article.html' with show_group_link=True %}
      </article>
    {% endfor %}
    {% include 'includes/paginator.html' %}
    </div>
{% endblock content %}
